header ul li{
    display: flex;
    justify-content:center
    
}

.form-row{
    display: flex;
    border: 1px solid gray;
}

.card{
    margin: 50px;
}

.card-header{
    background-color: forestgreen;
    text-align: center;
}

.card-body{
    width: 470px;
}